<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CycleApp.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CycleApp.App.Properties.Settings>
            <setting name="Last_ExerciseTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Last_RestTime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Last_CycleCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Last_AlwaysVisibleMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageSetting" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="DisableUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </CycleApp.App.Properties.Settings>
    </userSettings>
</configuration>